<h2>Beta 0.2.10 Update Notes</h2>

<p>Greetings friends and supporters! I have an additional quick update this week with version <code>0.2.10</code>. My plan had been after <code>0.2.9</code> to begin working immediately on the new major version <code>0.3.0</code>, however there were a number of bugs in the previous version release that I was not happy with so I have decided to release a smaller incremental version which addresses a number of bugs before moving onwards. There are no major features in this update, just bug fixes and API extensions. Thank you all for your continued feedback. As always, please keep an eye on the GitLab boards for issue tracking and update progress.</p>

<p><a href="https://gitlab.com/foundrynet/foundryvtt/boards" target="_blank" title="FVTT Story Board">https://gitlab.com/foundrynet/foundryvtt/boards</a></p>
<hr/>

<h3>Bug Fixes</h3>
<ul>
	<li>In cases where a module had defined an Actor Sheet implementation which was set as the default preference for an actor or for the world, if that module was disabled it could cause a failure in opening the Actor sheet. The new behavior is that requested sheets will only be used if they are present as an enabled module, otherwise the behavior will fall back to the default behavior.</li>
	<li>Corrected a problem with the "Minimal Worldbuilding" system which prevented Actors from being displayed due to lack of a registered Actor Sheet.</li>
	<li>Fix a display issue in the Token Configuration sheet which caused the units of measure to be incorrectly omitted.</li>
	<li>Solved a problem where deleting a Token which was present in a Combat Encounter for an inactive scene could cause a fatal crash when that Scene was later activated.</li>
	<li>Fixed a Token display and rendering problem which could temporarily show a movement animation for Tokens which were not visible within the line of sight polygon.</li>
	<li>Corrected a limitation which prevented Players from having permission to Export (or Import) Actor Data for actors which they owned.</li>
	<li>Fixed a problem with removing a combatant from a Combat Encounter that could fail to update the correct combat status of token control icons.</li>
	<li>Corrected an accidental permission change which allowed for hidden Tokens to be incorrectly displayed with alpha transparency to players.</li>
	<li>Improved the behavior of Chat Log rendering to ensure that messages are displayed in the order they were received. Previously messages containing dice rolls could be displayed out of order due to asynchronous HTML rendering.</li>
	<li>Worked to avoid some edge case display issues with tokens and line of sight polygons which allowed some tokens to be displayed when only a tiny fraction of their base was visible to the player.</li>
	<li>Improved the event handling for Token nameplate updates to ensure that changes will propagate immediately to the combat tracker if the Token is present in an active combat encounter.</li>
	<li>Resolved a problem with deleting a combat participant which could allow the combat turn order to fall out of bounds, no longer displaying an active turn.</li>
	<li>Improved the logic for brand new worlds which do not (yet) have any <code>sheetClasses</code> core setting applied.</li>
	<li>Fixed a problem through which players did not have access to view the Notes Layer on the Scene because there was no control tool in the permitted set.</li>
	<li>Improved the logic around module enabling/disabling to ensure that JavaScript, CSS, and compendium Packs are only loaded for modules which are active and enabled.</li>
</ul>
<hr/>
